<div class="container search-bar">

  <form action="/restaurants/search/sort"
        method="GET">
    <div class="row mt-5"
         id="menu-wrappers">
      <!-- search bar -->
      <div class="col-lg-3 col-5 offset-1">
        <div class="search-bar-inner">
          <div class="input-group">
            <input type="text"
                   name="keyword"
                   class="form-control"
                   placeholder="輸入餐廳、分類"
                   aria-label="Restaurant Name..."
                   aria-describedby="search-button"
                   value={{keyword}}>
            <div class="input-group-append">
              <button class="btn btn-major"
                      type="submit"
                      id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>

        </div>
      </div>
      <!-- search bar -->

      {{!-- sort options --}}
      <div class="col-md-3 col-5 offset-md-4"
           id="sort-menu-wrapper">
        <div class="input-group">
          <div class="input-group-prepend">
            <select class="form-control"
                    id="sortFormControlSelect"
                    name="sorting">
              <option value="0">Sort</option>
              <option value="name-asc"
                      {{#if
                      (eq
                      sortOption "name-asc"
                      )}}
                      selected
                      {{/if}}>名稱 A -> Z</option>
              <option value="name-desc"
                      {{#if
                      (eq
                      sortOption "name-desc"
                      )
                      }}selected{{/if}}>名稱 Z -> A</option>
              <option value="rating-desc"
                      {{#if
                      (eq
                      sortOption "rating-desc"
                      )
                      }}selected{{/if}}>評分 高 -> 低</option>
              <option value="rating-asc"
                      {{#if
                      (eq
                      sortOption "rating-asc"
                      )
                      }}selected{{/if}}>評分 低 -> 高</option>
              <option value="category"
                      {{#if
                      (eq
                      sortOption "category"
                      )
                      }}selected{{/if}}>類別</option>
              <option value="location"
                      {{#if
                      (eq
                      sortOption "location"
                      )
                      }}selected{{/if}}>地區</option>
            </select>
          </div>
          <div class="input-group-append">
            <button class="btn btn-warning"
                    type="submit"
                    id="sort-submit-button">Go</button>
          </div>
        </div>

      </div>
    </div>
  </form>
  {{!-- sort options --}}
</div>
<hr>
{{#if keyword}}
{{> search}}
{{/if}}



<!-- restaurant list -->
<div class="container mt-4 mx-auto">
  <div class="row px-2 px-lg-5 mx-auto">
    {{!-- partial view --}}
    {{> restaurants}}
  </div>
</div>
{{!-- error for form validation --}}
{{#if errorOfValidation}}
{{{errorOfValidation}}}
<div class="col-12 mr-1 mt-5 text-center"><a href={{#if
     edit}}"{{url}}/back"{{else}}"{{url}}"{{/if}}
     class="badge badge-pill badge-info"
     style="font-size: 16px;"><i class="fas fa-arrow-left mr-2"></i>Back</a></div>
{{/if}}